@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome to my News App</h1>
    <p>Learn about <a href="https://www.samsung.com">Samsung</a>.</p>
</div>
